<%- include header %>
<div class="page-header">
    <h2><%= title %></h2>
</div>
<div class="info">
    作者：<a href="/u/<%= article.name %>"><%= article.name %></a> |
    日期：<%= article.time.minute %>|
    标签：
    <% if (article.tags){ %>
    <% article.tags.forEach(function (tag, index) { %>
    <% if (tag) { %>
    <a class="label label-primary" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
    <% }) %>
    <% } %>
</div>
<div class="content">
    <p><%- article.content %></p>
</div>
<% if (user && (user.name == article.name)) { %>
<a class="btn btn-default" href="/edit/<%= article.name %>/<%= article.time.day %>/<%= article.title %>" role="button">编辑</a>
<a class="btn btn-default" href="/remove/<%= article.name %>/<%= article.time.day %>/<%= article.title %>"
   role="button">删除</a>
<% } %>
<div class="info">
    阅读：<%= article.pv %> | 评论：<%= article.comments.length %>
</div>
<%- include comment %>
<%- include footer %>