<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <% if(user){ %>
                <a class="navbar-brand" href="u/<%= user.name %>">
                    <%= user.name %>的博客
                </a>
                <% } else { %>
                <a class="navbar-brand" href="/">
                    博客
                </a>
                <% } %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="/"><a href="/">主页</a></li>
                    <li id="/archive"><a href="/archive">存档</a></li>
                    <li id="/tags"><a href="/tags">标签</a></li>
                    <% if (user) { %>
                    <li id="/upload"><a href="/upload">上传</a></li>
                    <li id="/post"><a href="/post">发表</a></li>
                    <li id="/logout"><a href="/logout">登出</a></li>
                    <% } else { %>
                    <li id="/login"><a href="/login">登录</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <script type="text/javascript">
            function typeAlert(str) {
                if ($('.alert-success').length > 0) {
                    $('.alert-success').remove();
                }
                if ($('.alert-danger').length > 0) {
                    $('.alert-danger')[0].innerText = str;
                } else {
                    $("<div class='alert alert-danger' role='alert'>" + str + "</div>").insertBefore($('article'));
                }
                setTimeout(function () {
                    $('.alert').remove();
                }, 3000);
            }
            function typeSucess(str) {
                if ($('.alert-danger').length > 0) {
                    $('.alert-danger').remove();
                }
                if ($('.alert-success').length > 0) {
                    $('.alert-success')[0].innerText = str;
                } else {
                    $("<div class='alert alert-success' role='alert'>" + str + "</div>").insertBefore($('article'));
                }
            }
        </script>
        <article>
            <% if (success) { %>
            <div class="alert alert-success" role="alert"><%= success %></div>
            <% } %>
            <% if (error) { %>
            <div class="alert alert-danger" role="alert"><%= error %> </div>
            <% } %>
