<%- include header %>
<ul class="list-group">
    <% articles.forEach(function (article, index) { %>
    <li>
        <h3><a class="title"
               href="u/<%= article.name %>/<%= article.time.day %>/<%= article.title %>"><%= article.title %></a></h3>

        <div class="info">
            作者：<a href="u/<%= article.name %>"><%= article.name %></a> |
            日期：<%= article.time.minute %>|
            标签：
            <% if(article.tags){ %>
            <% article.tags.forEach(function (tag, index) { %>
            <% if (tag) { %>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
            <% } %>
            <% }) %>
            <% } %>
        </div>

        <div class="content">
            <p><%- article.content %></p>
        </div>
        <div class="info">
            阅读：<%= article.pv %> | 评论：<%= article.comments.length %>
        </div>
    </li>
    <% }) %>
</ul>
<%- include page %>
<%- include footer %>